*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15;
}
nav ul li a:hover {
    background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
    background-size: 100% 5px; /* Mengatur tinggi oval */
    background-position: 0 100%; /* Memposisikan oval di bagian bawah */
    background-repeat: no-repeat; /* Menghindari pengulangan background */
    padding-bottom: 5px; /* Memberikan ruang untuk oval */
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    text-align: justify;
    margin-right: 8%;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/The\ ultimate\ Bali\ solo\ travel\ guide!.jpeg);
}
.card2{
    background-image: url(images/download.jpeg);
}
.card3{
    background-image: url(images/komodo\ dragon\ komodo\ adalah\ \ satu-satunya\ \ binatang\ purba\ yang\ masi\ ada\ di\ muka\ bumi\ ini\,dan\ terdapat\ di\ indonesia\ bagian\ timur\,yaitu\ di\ pulau\ flores\ _.jpeg);
}
.card4{
    background-image: url(images/Taman\ Nasional\ Gunung\ Bromo\ Tengger\ Semeru\ by\ Jackson\ Groves\,\ travel\,\ travelinspiration\ and\ explore.jpeg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}